h1{
    color:black;
    text-align: center;
    text-transform: capitalize;
    font-size: 400%;                /*Headern*/
    height: 10%;
    background-color: lightgreen;
    margin-top: -10px;
    margin-right: -10%;         /*vi använder % istället för px för då anpasas storleken efter skärmen den visas på*/
    margin-left: -10%;


}

body{
    background-color: white;
}

input{
    color: black;
    padding: 0.7% 1%;       /*rutorna för host, port och topic*/
    font-size: 100%;
        
}

.knapp{
    border: none;
    padding: 1% 2.3%;   /*alla kanpar förutom stopp*/
}


.stopp{
    color:white;
    background-color: darkred;/*stopp knappen*/
    border: none;
    padding: 1% 2%;
}

.text{
    width: 6%;
}

.graf_data{
    height: 100%;
    width: 60%;
    position: absolute;     /*grafen*/
    left: 36%;
    top: 10%;

}

.messages{
    overflow: scroll;
    height: 40%;
    width: 99%;
    background-color:lightgray;

    color: black;               /*meddelanderutan*/
    font-size: 140%;
    scrollbar-color: auto;

    position: absolute;
    top: 75%;
    

}